.ChipsSelect {
  font-size: var(--ui-text__small);

  position: relative;

  width: 100%;

  cursor: pointer;

  color: var(--ui-gray-200);
  background-color: var(--ui-white);
}

.ChipsSelect__container {
  position: relative;

  display: flex;
  align-items: center;
  flex-flow: wrap;

  width: inherit;
  padding: 10px 30px 10px 10px;

  border: 1px solid var(--ui-gray-100);
  border-radius: var(--ui-border__size);

  gap: 5px;
}

.ChipsSelect__action {
  position: absolute;
  right: 8px;

  display: flex;
}

.ChipsSelect__select {
  position: absolute;

  display: block;
  overflow-y: scroll;

  width: inherit;
  height: min-content;
  max-height: 200px;

  border-bottom-right-radius: var(--ui-border__size);
  border-bottom-left-radius: var(--ui-border__size);
  background-color: var(--ui-white);
}

.ChipsSelect__select-none {
  display: none;
}
